<div class="jumbotron mt-4">
    <h1 class="display-4">Note App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde harum tenetur, mollitia numquam eaque
        consequatur cum enim a quo minus?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem cupiditate voluptatum deserunt minima,
        excepturi dolorum dicta repudiandae rem quis ipsum ea iure cumque nisi corrupti necessitatibus, voluptates unde
        dolores. Nulla exercitationem rerum dolor deserunt facere fuga quae maxime omnis voluptate.∫</p>
    <a href="http://expmec.mec.gob.ar" class="btn btn-primary">Expedientes</a>
</div>